.titulo {
  color: black;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 5.5rem;
  margin-bottom: 1.2rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding-top: 3rem;
}

.detalles {
  width: 28rem;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
    padding-left: 2rem;
  }

  .contenedor {
    flex-direction: column;
    padding-top: 1rem;
  }

  .detalles {
    width: 100%;
    padding: 0 1rem;
  }

  form {
    width: 100%;
  }

  .registro {
    flex-direction: column;
  }
}