<h1>Carta de comidas</h1>

<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por nombre de plato" class="search-box"
    type="text">
  <button (click)="onSearch()" class="search-button">
  </button>
</div>

<div class="tags-container">
  <button (click)="resetFilter()" class="tag reset">Todos</button>
  <button (click)="filterByType('Entrada')" class="tag">Entrada</button>
  <button (click)="filterByType('Plato Principal')" class="tag">Plato principal</button>
  <button (click)="filterByType('Postre')" class="tag">Postre</button>
</div>

<div class="platos-container">
  <div *ngFor="let plato of filteredPlatos" class="flip-card" (click)="plato.isFlipped = !plato.isFlipped">
    <div class="flip-card-inner" [class.flipped]="plato.isFlipped">
      <div class="flip-card-front">
        <img *ngIf="plato.imagen" [src]="plato.imagen" alt="{{ plato.descripcion }}" class="imagen">
        <h2>{{ plato.descripcion }}</h2>
      </div>
      <div class="flip-card-back">
        <h3>Detalles</h3>
        <p>Tiempo de preparación: {{ plato.tiempo }} min</p>
        <p>Precio: ${{ plato.precio }}</p>
        <p>Apto celíacos: {{ plato.aptoCeliacos ? 'Sí' : 'No' }}</p>
        <p>Apto vegetarianos: {{ plato.aptoVegetarianos ? 'Sí' : 'No' }}</p>
        <p>Apto veganos: {{ plato.aptoVeganos ? 'Sí' : 'No' }}</p>
        <p>Tipo de plato: {{ plato.tipoPlato.descTPlato }}</p>
        <button (click)="agregarAlPedido(plato); $event.stopPropagation()" class="agregar">Agregar al pedido</button>
      </div>
    </div>
  </div>
</div>