.descPlato {
  margin-right: 12px;
}

.descTPlato {
  margin-left: 12px;
}

.platos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  height: 280px;
  perspective: 1000px;
  margin: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* QUITAMOS el hover y agregamos esta clase para manejarlo por click */
.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.flip-card-front {
  background-color: #7699ab;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #7699ab;
}

img {
  width: 100%;
  max-height: 160px;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid #7699ab;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: -40px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.tag {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #9ecde5;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #e0e0e0;
}

.agregar {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #9ecde5;
  border: 1px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 80px;
}

.agregar:hover {
  background-color: #e0e0e0;
}

.imagen {
  width: 100%;
  height: 200px;
}

@media (max-width: 768px) {
  .platos-container {
    justify-content: center;
  }

  .flip-card {
    width: 100%;
    max-width: 200px;
    height: 250px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .search-box {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .flip-card {
    max-width: 180px;
    height: 220px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .search-box {
    padding: 8px 12px;
  }

  .tags-container {
    gap: 5px;
  }

  .tag {
    padding: 8px 15px;
  }
}