<h1>Carta de bebidas</h1>

<!-- Search box -->
<div class="search-container">
  <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" placeholder="Buscar por nombre de bebida"
    class="search-box" type="text">
  <button (click)="onSearch()" class="search-button">
  </button>
</div>

<div class="tags-container">
  <button (click)="resetFilter()" class="tag reset">Todas</button>
  <button (click)="filterByType('sin alcohol')" class="tag">Sin alcohol</button>
  <button (click)="filterByType('con alcohol')" class="tag">Con alcohol</button>
</div>

<div class="bebidas-container">
  <div *ngFor="let bebida of filteredBebidas" class="flip-card" (click)="toggleFlip(bebida)">
    <div class="flip-card-inner" [class.flipped]="bebida.flipped">
      <div class="flip-card-front">
        <img *ngIf="bebida.imagen" [src]="bebida.imagen" alt="{{ bebida.descripcion }}" class="imagen">
        <h2>{{ bebida.descripcion }}</h2>
      </div>
      <div class="flip-card-back">
        <h3>Detalles</h3>
        <p *ngIf="tipoUsuario === 'empleado'">CodBebida: {{ bebida.codBebida }}</p>
        <p>Contenido: {{ bebida.contenido }} {{ bebida.unidadMedida }}</p>
        <p>Precio: ${{ bebida.precio }}</p>
        <p>Alcohol: {{ bebida.alcohol }}</p>
        <p *ngIf="tipoUsuario === 'empleado'">Stock: {{ bebida.stock }}</p>
        <button (click)="agregarAlPedido(bebida); $event.stopPropagation()" class="agregar">
          Agregar al pedido
        </button>
      </div>
    </div>
  </div>
</div>