<h1>Inicio</h1>
<div class="card">
  <div class="card-head">Alma Criolla</div>
  <div class="card-body">
    Alma Criolla nació en el corazón de Santa Fe, fundado por dos estudiantes que crecieron en una familia de tradición
    culinaria argentina, donde el asado dominical era un ritual sagrado. Sin embargo, su pasión por los viajes y la
    curiosidad por los sabores del mundo los llevó a soñar con un restaurante que, sin perder sus raíces, pudiera ofrecer
    platos de todas partes del planeta. Así, en Alma Criolla, el clásico bife de chorizo comparte mesa con tacos mexicanos,
    pastas italianas y sushi japonés, creando un espacio donde la identidad argentina se mezcla con una cocina
    internacional, reflejando la diversidad cultural que tanto los inspira.
  </div>
</div>
