.titulo {
  color: black;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
}

.register_box {
  display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding-top: 3rem;
  }


.contenedor{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  top: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.register {
  width: 25rem;
  
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
    padding-left: 2rem;
    text-align: center;
  }

  .register_box {
    margin-top: 1.5rem;
  }

  .register {
    width: 100%;
    padding: 0 1rem;
  }

  .login {
    flex-direction: column;
  }
}